@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Spray+Paint&display=swap'); font-family: 'Rubik Spray Paint', system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Rubik+Doodle+Shadow&family=Rubik+Spray+Paint&display=swap');

body {
  float: left;
  background-image: url("./img/pile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Archivo', sans-serif;
    display: flex;
    flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-family: 'Rubik Doodle Shadow', system-ui;
  font-size: 80px;
  background-color: white;
  border: solid 4px black;
  border-radius: 15px;
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 5px 5px;
}

.preTitle {
  margin: 0;
  text-align: left;
  width: 60%;
} 

.postTitle {
  margin: 0;
  text-align: right;
  width: 100%;
}

.content {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  width: 40%;
}

a:link {
  color: black;
}

a:visited {
  columns: black;
}

a:hover {
  color: gray;
}